[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
watchdog = "*"
streamlit-quill = "*"

[dev-packages]

[requires]
python_version = "3.9"
